#top{
    width: 100%;
    height: 10%;
    background-color:lightblue;
    position: relative;
}
#main{
    width: 100%;
    height: 90%;
    background-color: blueviolet;
    position: relative;
}
#logo{
    width: 15%;
    height: 80%;
    background-color:lightblue;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 2%;
    margin-top: 5px;
    margin-right: 1%;
    font-family: 幼圆, Serif;
    font-size:20px;
    font-weight: bolder;
    color: aliceblue;

}
#home_page{
    width: 8%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    float: left;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
}
#research{
    width: 35%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    float: left;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-left: 18%;
    margin-right: 5%;
}
#login{
    width: 10%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    float: left;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-left: 12%;
}
.an:hover{
    border-bottom: 1.5px solid ;
}
#research_input{
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0);
    border:0;
    border-bottom: darkgray 1.5px solid;
    outline-style: none;
}
#research_img{
    margin-top: 5px;
}
#main_sider{
    width: 20%;
    height: 100%;
    position: relative;
    background-color: rgb(238,240,242);
    float: left;
    font-family: 微软雅黑, serif;
    font-size: xx-large;
}
#main_right{
    width: 100%;
    /*height: 100%;*/
    padding-bottom: 100px;
    position: relative;
    background-color:white;
    float: left;
}
#main_sider a{
    text-decoration-line: none;
}
#main_sider ul {
    list-style-type: none;
    line-height: 300%;
    width: 100%;
    height: 20%;
    /*width:1000px;*/
    margin:0 auto;
}
#main_sider ul li{
    position: relative;
    width:250px;
    text-align:center;
    line-height:60px;
    font-size:20px;
    color:#fff;
    cursor:pointer;
}
#main_sider ul li::before {
    content:"";
    position:absolute;
    /* 重点 */
    left:0;
    /* 重点 */
    bottom:0;
    /* 重点 */
    width:0;
    /* 重点 */
    height:2px;
    background:darkgray;
    transition:width .5s;
}
#main_sider ul li:hover::before {
    width:250px;
}
.content-box{
    width: 180px;
    height: 200px;
    position: relative;
    z-index: 2;
    float: left;
    text-align: center;
    margin-left: 15%;
    /*margin-right: 20%;*/
    margin-top: 10%;
    box-shadow: 2px 2px 5px gainsboro ;
}
.title{
    width: 180px;
    height: 40px;
    position: relative;
    z-index: 2;
    padding-bottom: 0;
    float: left;
    font-size: 20px;
}
.bu-on{
    width: 180px;
    height: 30px;
    position: relative;
    float: left;
    z-index: 2;
    font-size: 15px;
    color: darkgrey;
}
#main_right ul{
    float: left;
    list-style-type: none;
    width: 100%;
    /*background-color: black;*/
}
#main_right ul li{
    float: left;
    width: 33%;
    /*background-color: #FFE300;*/
}